<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="cadena_conexion" connectionString="Data Source=DEVELOPMENT2\SQLEXPRESS;Initial Catalog=DBsistema_venta;Persist Security Info=True;User ID=sa;Password=12345678"
      providerName="System.Data.SqlClient" />
    <add name="capapresentacion.Properties.Settings.DBsistema_ventaConnectionString"
      connectionString="Data Source=DEVELOPMENT2\SQLEXPRESS;Initial Catalog=DBsistema_venta;Persist Security Info=True;User ID=sa;Password=12345678"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>